html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  font-size: 1.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #efefef;
}

.app {
  width: 94vw;
  margin: 2rem auto;
  box-sizing: border-box;
}

main {
  border-radius: 0.5rem;
  border: solid 1px #ddd;
  background: white;
  padding: 0.5rem 2.5rem 2rem;
}

nav {
  text-align: right;
  margin: 1rem 0 2rem;
}

.error {
  color: crimson;
}
